.loginForm{
    width: 100%;
    height: 800px;      
}
.container{
    margin: 300px auto;
    width: 400px;
    height: 270px;
    background-color:rgba(0, 255, 255, 0.858);
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.input{
    width: 280px;
    height: 30px;
}
.btn{
    background-color: rgba(0, 0, 255, 0.803);
    color: white;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 15px;
}
.btn:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}